.card-style {
    margin-left: 9vw;
    margin-right: 9vw;
}

@media only screen and (max-width:1300px) {
    .card-style {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media only screen and (max-width:900px) {
    .card-style {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}